<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.birdfun"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
     	 <!-- Permissions  -->
    <uses-permission android:name="android.permission.NFC" />
	<uses-feature android:name="android.hardware.nfc" android:required="true" />
	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BirdFunTheme"  
        android:configChanges="orientation">
         <!-- Main Screen Activity  -->
        <activity
            android:name=".PlayScreenActivity"
            android:label="@string/app_name" >
           	
        </activity>
 
        <!-- Save the Eggs  -->
        <activity
            android:name=".SaveTheEggsActivity"
            android:label="Save the Eggs" >
        </activity>
 
        <!-- Fantastic Feather -->
        <activity
            android:name=".FantasticFeathersActivity"
            android:label="Fantastic Feathers" >
        </activity>
 
        <!-- The Weapon -->
        <activity
            android:name=".TheWeaponActivity"
            android:label="The Weapon" >
        </activity>
          <!-- Register -->
        <activity
            android:name=".RegisterActivity"
            android:label="Regiter User" >
                         <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           
        </activity>
        <!-- Login -->
        <activity
            android:name=".LogInActivity"
            android:label="Log in" >

        </activity>
        
        
    </application>  
</manifest>